@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --dblue: #2A324B;
  --purple:#58699D;
  --grey:#E1E5EE;
  --white:#fff;
  --font:"Montserrat", sans-serif;
}
.content-card-item {
  padding: 1rem;
  max-width: 410px;
  min-width: 410px;
  background-color: var(--white);
  display: block;
  margin: 1rem;
}
.content-card-list{
    color: var(--dblue);
    display: flex;
    flex-wrap: wrap;    
    background-color: var(--grey);
}
.app{
  background-color: var(--grey);
  color: var(--dblue);
}
.Nav{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
  font-size: larger;
  padding-left: 1rem;
  
}
body{
  background-color: var(--grey);
}
h1{
  padding-left: 1rem;
  font-size: 2rem;
}